.not-found {
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__pic {
  margin: 86px 0 31.5px;
}

.not-found__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 0 0 80px;
}

.not-found__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 16px;
  color: #1a1b22;
}

