.main {
position: relative;
}

.main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__image {
  width: 100%;
}

.main__title {
font-family: 'Roboto Slab', Arial, sans-serif;
font-weight: 400;
font-size: 60px;
color: #FFF;
leading-trim: NONE;
line-height: 64px;
letter-spacing: 0px;
}

.main__subtitle {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFF;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
}

.main__search-form {
display: flex;
justify-content: center;
position: absolute;
}

.main__search-input {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0px;

}

.main__search-button {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
}

.main__search-button:hover {
  
}
