.main {
position: relative;
width: 100%;
margin: 0;
padding: 0;
}

.main__content {
position: absolute;
top: calc(50% + 80px);
left: 50%;
transform: translate(-50%, -50%);
max-width: 90%;
}

.main__image {
  width: 100%;
}

.main__title {
font-family: 'Roboto Slab', Arial, sans-serif;
font-weight: 400;
font-size: 60px;
color: #FFF;
leading-trim: NONE;
line-height: 64px;
letter-spacing: 0px;
}

.main__subtitle {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFF;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
margin-top: 32px;
}

.main__search-form {
display: flex;
position: relative;
background-color: #FFF;
border-radius: 100px;
border: none;
width: 608px;
height: 64px;
margin: 88px auto 80px;
max-width: 100%;
}

.main__search-input {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 22px;
letter-spacing: 0px;
border-radius: 100px;
border: none;
flex: 1;
padding-left: 24px;
}

.main__search-button {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
width: 168px;
height: 64px;
angle: 0 deg;
opacity: 1;
border-radius: 100px;
border: none;
background-color: #2F71E5;
color: #FFF;
}

.main__search-button:hover {
  
}