.main {
position: relative;
width: 100%;
margin: 0;
padding: 0;
}

.main__content {
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 608px;
padding-top: 80px;
}

.main__hero {
  height: 576px;
  background-image: url('../../src/images/main-page-pic.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__subtitle {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 18px;
color: #FFF;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
margin-top: 32px;
}

.main__search-form {
display: flex;
position: relative;
background-color: #FFF;
border-radius: 100px;
border: none;
width: 608px;
height: 64px;
margin: 88px auto 80px;
max-width: 100%;
}

.main__search-input {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0px;
border-radius: 100px;
border: none;
flex: 1;
padding-left: 24px;
outline: none;
}

.main__search-btn {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
width: 168px;
height: 64px;
opacity: 1;
border-radius: 100px;
border: none;
background-color: #2F71E5;
color: #FFF;
}

.main__title {
font-family: 'Roboto Slab', Arial, sans-serif;
font-weight: 400;
font-size: 60px;
color: #FFF;
line-height: 64px;
letter-spacing: 0px;
text-align: left;
}

@media screen and (max-width: 768px) {
  .main__content {
    position: static;
    transform: none;
    max-width: 452px;
    padding: 0 0 48px;
    margin-top: 127px;
  }

  .main__hero {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

   .main__search-form {
    width: 448px;
    margin: 48px auto 0;
  }

  .main__search-input {
    font-size: 14px;
    padding-left: 16px;
  }

  .main__search-btn {
    font-size: 16px;
    width: 160px;
  }

   .main__subtitle {
    text-align: left;
    margin-top: 16px;
  }

  .main__title {
    font-size: 36px;
    line-height: 52px;
    max-width: 385px;
    text-align: left;
  }
}


@media screen and (max-width: 320px) {
  .main__content {
    max-width: 452px;
  }
  .main__title {
    font-size: 48px;
    line-height: 52px;
    max-width: 385px;
    text-align: left;
  }

  .main__search-form {
    width: 448px;
    margin: 88px auto 80px;
  }

  .main__search-input {
    font-size: 14px;
    padding-left: 16px;
  }

  .main__search-btn {
    font-size: 16px;
    width: 160px;
  }
}