.saved-news-header {
  max-width: 1232px;
  margin: 0 auto 32px;
  padding: 0 24px;
}

.saved-news-header__title {
  font-weight: 700;
  font-size: 18px;
  color: #b6bcbf;
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}

.saved-news-header__heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}

.saved-news-header__keywords {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1a1b22;
}

.saved-news-header__keywords-bold {
  font-weight: 700;
}
