.saved-news-header {
  max-width: 1232px;
  padding: 0 24px;
  text-align: left;
  margin-left: 104px;
}

.saved-news-header__heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 30px;
}

.saved-news-header__keywords {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1a1b22;
  margin-bottom: 56px;
}

.saved-news-header__keywords-bold {
  font-weight: 700;
}

.saved-news-header__title {
  font-weight: 700;
  font-size: 18px;
  color: #b6bcbf;
  margin-bottom: 28px;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif, arial;
  line-height: 24px;
  letter-spacing: 0px;
}

@media screen and (max-width: 768px) {
  .saved-news-header {
    padding: 24px 16px 32px 40px;
    margin: 0;
    height: 204px;
  }

  .saved-news-header__heading {
    font-size: 30px;
    max-width: 336px;
    margin-bottom: 16px;
  }

  .saved-news-header__keywords {
    font-size: 18px;
    margin: 0;
  }

  .saved-news-header__title {
    margin: 0;
    font-size: 14px;
    margin-bottom: 16px;
  }
}