.navigation__link {
    position: relative;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navigation__link_theme_light {
  color: #1a1b22;
}

.navigation__link_theme_dark {
  color: #fff;
}

.navigation__link_theme_dark.navigation__link_active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -42px;
    height: 3px;
    width: 70px;
    transform: translateX(-50%);
    background-color: white;
}

.navigation__link_theme_light.navigation__link_active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -42px;
    height: 3px;
    width: 130px;
    transform: translateX(-50%);
    background-color: black;
}

.navigation__menu {
    list-style: none;
    display: flex;
    gap: 42px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navigation__menu_type_mobile {
    flex-direction: column;
    gap: 16px;
} 

.navigation__btn_user_desktop,
.navigation__signin-btn_desktop {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.navigation__btn_user_theme_light,
.navigation__signin-btn_theme_light {
  background-color: transparent;
  color: #1a1b22;
  width: 176px;
  height: 48px;
  top: 19px;
  left: 1160px;
  border-width: 1px;
  border-radius: 100px;
  border: 1px solid #000;
}

.navigation__btn_user_theme_dark,
.navigation__signin-btn_theme_dark {
  background-color: transparent;
  color: #fff;
  width: 176px;
  height: 48px;
  top: 19px;
  left: 1160px;
  border-width: 1px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.navigation__logout-icon {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .navigation__menu {
    display: flex;
    gap: 20px;
  }


  .header__menu-icon {
    display: none;
  }

  .navigation__menu_type_mobile {
    display: none;
  }

  .navigation__btn_user_theme_light,
  .navigation__signin-btn_theme_light {
    background-color: transparent;
    color: #1a1b22;
    width: 100px;
    height: 48px;
    top: 19px;
    left: 1160px;
    border-width: 1px;
    border-radius: 100px;
    border: 1px solid #000;
}

  .navigation__btn_user_theme_dark,
  .navigation__signin-btn_theme_dark {
    background-color: transparent;
    color: #fff;
    width: 176px;
    height: 48px;
    top: 19px;
    left: 1160px;
    border-width: 1px;
    border-radius: 100px;
    border: 1px solid #fff;
  }

  .navigation__link_theme_dark.navigation__link_active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -37px;
    height: 3px;
    width: 70px;
    transform: translateX(-50%);
    background-color: white;
  }

  .navigation__link_theme_light.navigation__link_active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -37px;
    height: 3px;
    width: 130px;
    transform: translateX(-50%);
    background-color: black;
  }
}

@media screen and (max-width: 320px) {
  .navigation__menu {
    display: none; 
  }

  .header__menu-icon {
    display: flex;
  }

  .navigation__logout-icon {
    display: none;
  }

  .navigation__menu_type_mobile {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }

  .navigation__btn_user_theme_light,
  .navigation__signin-btn_theme_light {
    background-color: transparent;
    color: #1a1b22;
    width: 288px;
    height: 48px;
    top: 19px;
    left: 1160px;
    border-width: 1px;
    border-radius: 100px;
    border: 1px solid #000;
    margin-bottom: 8px;
}

  .navigation__btn_user_theme_dark,
  .navigation__signin-btn_theme_dark {
    background-color: transparent;
    color: #FFF;
    width: 288px;
    height: 48px;
    top: 19px;
    left: 1160px;
    border-width: 1px;
    border-radius: 100px;
    border: 1px solid #FFF;
    margin-bottom: 8px;
  }

  .navigation__link_theme_dark {
    color: #FFF;
    font-size: 18px;
  }


  .navigation__signin-btn_mobile {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
  }

  .navigation__signin-btn_mobile:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}