@import url(../../vendor/fonts.css);

.header {
position: absolute;
z-index: 1;
top: 0;
left: 0;
right: 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 104px 26px;
}

.header__title{
font-family: 'Roboto Slab', Arial, sans-serif;
font-weight: 700;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
vertical-align: middle;
color: #FFF;
}

.header__home-btn {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: #FFF;
text-decoration: none;
}

.header__nav {
display: flex;
justify-content: space-between;
align-items: center;
gap: 42px;
}

.header__signin-btn {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 500;
font-size: 18px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
color: #FFF;
border: 1px solid #FFF;
padding: 16px 22px;
border-radius: 100px;
background-color: transparent;
text-decoration: none;
height: 48px;
width: 176px;
display: flex;
justify-content: center;
align-items: center;
}
