@import url(../../vendor/fonts.css);

.footer {
height: 80px;
width: 100%;
}

.footer__content {
display: flex;
justify-content: space-between;
padding: 32px 104px 26px;
align-items: center
}

.footer__copyright{
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0px;
color: #B6BCBF;
}

.footer__link {
  text-decoration: none; 
  color: #1A1B22; 
}

.footer__link:visited {
  color: #1A1B22; 
}

.footer__link:hover {
  color: #1A1B22; 
}

.footer__nav {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #1A1B22;
display: flex;
gap: 40px;
margin-left: auto; 
margin-right: 40px;
}

.footer__social {
display: flex;
gap:24px;
}


@media screen and (max-width: 768px) {
  .footer__content {
    flex-direction: row;
    text-align: center;
    padding: 24px 40px 18px 40px;
    gap: 0;
  }

  .footer__nav {
    flex-direction: row;
    gap: 40px;
    font-size: 12px;
    margin-left: 100px;
  }

  .footer__copyright {
    font-size: 16px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__social {
    gap: 24px;
  }
}


@media screen and (max-width: 320px) {
  .footer__content {
    flex-direction: column;
    text-align: center;
    padding: 16px 12px;
    gap: 10px;
  }

  .footer__nav {
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 11px;
  }

  .footer__social {
    gap: 10px;
  }
}
