@import url(./vendor/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
